name: release
on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"
  workflow_dispatch:

jobs:
  release:
    runs-on: self-hosted
    steps:
      - name: Checkout tx-core
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: 'Build Inventory Image'
        run: |
          docker pull hello-world:latest
          docker tag hello-world:latest ghcr.io/tokenize-x/tx-chain:test
          docker push ghcr.io/tokenize-x/tx-chain:test